<%- include('../site/partials/logout-bar.ejs') %>
<div class="site-container" style="background-image:url(<%= fci %>);">
    <div class="portal-content-wrapper">
        
        <div class="portal-content">
            <div class="close-modal-login">
                <a class="login-modal-anchor" href="/restOfSite/game/game/<%= id %>"> <span></span>
                    <span></span>
                    </a>
            </div>
            <div class="profile-header">
                <h1><%= name %>, here is the information we have stored on file for you. Is this correct?</h1>
            </div>
            <div class = "profile-div">
            <div class="profile-field-div">
                <p>Your name is <%= name %>.</p> <button class="btn bar-btn edit-btn" type='button'
                    onClick="window.location.href='/update/name/<%= id %>'">Update</button>
            </div>
            <div class="profile-field-div">
                <p>Your email is <%= email %>.</p><button class="btn bar-btn edit-btn" type='button'
                    onClick="window.location.href='/update/email/<%= user_id %>'">Update</button>
            </div>
            <div class="profile-field-div">
                <p>Your age on record is <%= age %> years old.</p> <button class="btn bar-btn edit-btn" type='button'
                    onClick="window.location.href='/update/age/<%= id %>'">Update</button>
            </div>
        </div>

            <div class="profile-cat-and-times-played-wrapper">
                <div class="profile-field-div profile-cat-div column">
                    <p>Your favorite cat pic is:</p>
                    <div class="profile-cat-img-and-btn-div">
                    <img src="<%= fci %>" /> <button class="btn bar-btn edit-btn" type='button'
                        onClick="window.location.href='/update/fci/<%= id %>'">Update</button>
                    </div>
                </div>
                <div class="profile-field-div profile-how-many-div column">
                    <p>How Many times have I played this game?</p> <button class="btn bar-btn edit-btn"
                        type='button'
                        onClick="window.location.href='/restOfSite/updateGame/getTimesPlayed/<%= id %>'">How
                        Many?</button>
                </div>
            </div>
            <div class="profile-btn-group">
                <div>
                    <form class="profile-form" action="/restOfSite/game/game/<%= id %>" method="POST">
                        <input type="hidden" name="id" value="<%= id %>" />
                        <button class="btn bar-btn" type="submit">That's all correct, Start the Game!</button>
                        <button class="btn bar-btn" type="button"
                            onClick="window.location.href= '/profile/delete/<%= id %>'">Delete My Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>