<div class="site-container site-container-height " style="background-image:url(<%= fci %>);">
    <div class="login-form-wrapper ">
        <div class="close-modal-login">
            <a class="login-modal-anchor" href="/restOfSite/game/game/<%= id %>">
                <span></span>
                <span></span></a>
        </div>
        <div class="update-name-text">
            <h1>Here's how to play the cat game, <%= name %>:</h1>
            <br>
            <h3 class="update-text-light">First we take your age, which is <%= age %>, and we multiply it by a random
                number. This is the "game
                number". Then we take your age again, and based on your age, we multiply it by three random numbers
                to get three "cat numbers". When you push on the cat number button it adds that amount to the
                "player number". Your goal, <%= name %>, is to get the player number to exactly match the game
                number without going over.</h3>
            <h3 class="update-text-light">If you get the game number exactly you win. Otherwise, you lose. If you win
                three times the score
                goes up one point, and if you lose three times, the score goes down one point.</h3>
            <br>
            <h2 class="update-text-light">And that's it! Try it out!</h2>
        </div>
    </div>

</div>