<div id="nameContainer" class="site-container" style="background-image:url(<%= fci %>);">
    <div class="update-times-wrapper">
        <div class="update-gamesplayed-div">
            <div class="close-modal-login times-played-modal">
                <a class="login-modal-anchor profile-anchor times-played-anchor"
                    href="/profile/third-page/<%= id %>">&#10005;</a>
            </div>
            <div class="update-timesplayed-text">
            <h1><%= name %></h1>
            <p>this is how many times you have played this game:</p>
            <p>You have played <%= timesPlayed %> matches,</p>
            <p>and you have played <%= gamesPlayed %> games.</p>
            </div>
        </div>
    </div>
</div>